/*Nesta area precisara ser revisado todos os componentes de texto especificados pela Fcamara*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");


* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';

}